network:
  version: 2
{% if underground_external_interface is defined %}
  ethernets:
    #{{ underground_external_interface }}: {}
    veth-external: {}
    physnet1: {}
{% endif %}
  bridges:
    external:
      addresses: [ {{ underground_public_network }} ]
      interfaces: [ {{ underground_public_interface }},veth-external ]
      parameters:
        stp: false
