---
skip_bootstrap: true
skip_start: true
install_dib: false
create_image_via_dib: false
internal_ip: "127.0.0.1"
staging_drivers_include: "true"
cleaning: "true"
cleaning_disk_erase: "false"
enabled_hardware_types: "ipmi,ilo,staging-libvirt"
enabled_management_interfaces: "redfish,ilo,ipmitool,staging-libvirt"
enabled_power_interfaces: "redfish,ilo,ipmitool,staging-libvirt"
enable_uefi_ipxe: "true"
enable_inspector: "true"
enable_inspector_discovery: "true"
#enable_conductor: "false"
inventory_dhcp: "true"
inventory_dns: "true"

